/* GENERAL */

:root {
    --light: #eee;
    --dark: #000;
    --link: #aaa;
    --red: #ff4245;
    --orange: #ff9230;
    --yellow: #ffd600;
    --green: #30d158;
    --blue: #007AFF;
    --purple: #db34f2;
    --pink: #ff375f;
    --brown: #b78a66;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: var(--dark);
    color: var(--light);
    font-family: 'IBM Plex Mono', monospace;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

    *::-webkit-scrollbar {
        display: none;
    }

html, body {
    height: 100%;
}

    html {
        overscroll-behavior: none;
        overflow: hidden;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
    }

a {
    text-decoration: none;
    background: none;
}

section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    position: relative;
}

    .primaryText {
        text-align: center;
        width: 40vw;
        line-height: 2.5;
        padding-top: 10vh;
    }

    .secondaryText {
        text-align: center;
        width: 30vw;
        line-height: 1.5;
        padding-top: 10vh;
        position: absolute;
        bottom: 20vh;
    }

        .secondaryText p, .secondaryText a {
            color: var(--link);
            font-size: 0.8rem;
        }

/* SHARE */

#sendButton {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

    #sendButtonLink {
        background: var(--blue);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--dark);
        box-shadow: 0 0 15px 0 var(--blue);
        width: 25%;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 1.5vh 1.5vw;
        transition: 0.5s ease-in-out;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
    }

    #sendButtonLink:hover {
        width: 100%;
        border-radius: 0;
    }

/* EXAMPLES */

.exampleSection {
    width: 60vw;
    padding-top: 20vh;
}

    .exampleSection a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: SixtyFour, display;
        line-height: 3.5;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 5vh;
        transition: 0.15s ease-in-out;
    }

    .exampleSection a:hover {
            color: var(--blue);
            text-shadow: 0 0 15px var(--blue);
            transform: scale(1.05);
    }

    .exampleSection p {
        font-size: 0.9rem;
        color: var(--link);
    
    }

/* MOUSE TRAIL */

#trail {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: none;
    pointer-events: none;
}

    #trail path {
        fill: none;
        stroke: var(--blue);
        opacity: 0.5;
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

/* SCROLLBAR */

#scrollbarTrack {
    position: fixed; top: 0; left: -10px; right: -10px;
    height: 3px;
    background: none;
    z-index: 9999;
}

    #scrollbarProgress {
        height: 100%;
        width: 0%;
        background: var(--blue);
        box-shadow: 0 0 15px 0 var(--blue);
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
    }

/* RESPONSIVENESS */

/* Touch devices */

@media (hover: none) and (pointer: coarse) {

    #trail {
        display: none;
    }

    #sendButton {
        height: 12vh;
        margin-bottom: 5vh;
    }

        #sendButtonLink {
            transition: none;
            width: 80%;
            border-radius: 15px;
            font-size: 1.2rem;
        }

        #sendButtonLink:hover {
            width: 70%;
            border-radius: 15px;
        }

    .primaryText {
        width: 80vw;
    }

    .secondaryText {
        width: 70vw;
        bottom: 25vh;
    }

    .exampleSection a {
        transition: none;
    }

        .exampleSection a:hover {
            color: var(--light);
            text-shadow: none;
            transform: none;
        }
}

/* Mobile devices */

@media only screen and (max-width: 991px) {

    #sendButton {
        height: 12vh;
    }

        #sendButtonLink {
            width: 70%;
        }

    .primaryText {
        width: 80vw;
    }

    .secondaryText {
        width: 70vw;
    }
    
    .exampleSection {
        width: 80vw;
        padding-top: 25vh;
    }

        .exampleSection a {
            font-size: 0.9rem;
            line-height: 3.5;
        }

        .exampleSection p {
            font-size: 0.9rem;
        }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
   
    * {
        font-size: 0.9rem;
    } 
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* ACCESSIBILITY */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation: none !important;
        transition: none !important;
        scroll-behavior: auto !important;
    }
    
    #trail {
        display: none;
    }
}
